* {
  box-sizing: border-box;
}

nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width:100%;
  background-color: goldenrod;
  height: 4rem;
}

img {
  width:100%;
  border:1px lightgrey solid;
}

.title {
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin: 0 0 0 25%;
}

.sub-title {
  padding-bottom: .5rem;
  font-size: .25rem;
  margin: 0 0 0 25%;
}

.cards {
  padding-top: 1rem;
}

.card-label {
  height: 4rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -5px;
  margin: -5px 20px 1rem 20px;
  border: 1px lightgrey solid;
  padding-left: 0;
  padding-right: 0;
}

.card-title {
  margin: 5% 0 0 5%;
  font-size: .8rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

.card-sub-title {
  margin: 0 0 0 5%;
  font-size: .6rem;
}
